* {
  font-family: "Barlow Semi Condensed", serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: radial-gradient(
      ellipse at center,
      var(--backgroundGradientStart) 0%,
      var(--backgroundGradientEnd) 100%
  );
}

img {
  display: block;
}
