<div class="main">
  <section class="main__header">
    <app-score [score]="score()" />
  </section>
  <section class="main__body">
    @if(!userPickedOption()) {
    <div class="main__body__triangle">
      <img src="assets/bg-triangle.svg" alt="triangle icon" />
      @for (option of options(); track option) {
      <app-option
        [isSelected]="false"
        [isFilled]="true"
        [isPulsing]="false"
        [type]="option"
        (selectedOption)="determineTheWinner($event)"
      />
      }
    </div>
    } @else {
    <div class="main__body__selected-options">
      <app-option
        [isSelected]="true"
        [isFilled]="userPickedOption().isFilled"
        [isPulsing]="userPickedOption().isPulsing"
        [type]="userPickedOption().type"
      />
      <app-option
        [isSelected]="true"
        [isFilled]="computerPickedOption().isFilled"
        [isPulsing]="computerPickedOption().isPulsing"
        [type]="computerPickedOption().type"
      />
    </div>
    }
  </section>
  <section class="main__footer">
    <app-rules-button />
  </section>
</div>
<app-rules-modal />
