<div class="rules-modal-overlay">
  <div class="rules-modal-container">
    <div class="rules-modal-container__title">
      <p class="rules-modal-container__title__content">RULES</p>
      <div class="rules-modal-container__close-btn-web">
        <img src="assets/icon-close.svg" alt="Close button mobile">
      </div>
    </div>

    <div class="rules-modal-container__rules">
      <img src="assets/image-rules.svg" alt="Game rules">
    </div>

    <div class="rules-modal-container__close-btn-mobile">
      <img src="assets/icon-close.svg" alt="Close button web">
    </div>
  </div>
</div>

