.game-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

  &__status {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1.75rem;
  }

  &__play-again {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.15625rem;
    text-align: center;
    color: var(--darkText);
    background-color: var(--white);
    padding: 0.875rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    position: relative;
    z-index: 2;

    &:hover,
    &:focus {
      color: var(--playAgainBtnHoverColor);
    }
  }
}
